/*Imported Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap"); /*Header Font*/
/*font-family: "Nunito Sans", sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap"); /*Title Font*/
/*font-family: 'Sora', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /*News text*/
/*font-family: 'Poppins', sans-serif;*/

body {
  padding-top: 30px;
}

.nav-item {
  padding-left: 50px;
  font-family: "Nunito Sans", sans-serif;
}

#title-font {
  font-family: "Sora", sans-serif;
  color: #3f3f3f;
}
#title-font-white {
  font-family: "Nunito Sans", sans-serif;
}

#petronas {
  color: #03bfb5;
}

#redbull {
  color: #ff0004;
}

#ferrari {
  color: #ff2800;
}

#news-text,
#created-by {
  font-family: "Poppins", sans-serif;
  color: #2a2a2a;
}

#footer-madeby {
  background-color: rgba(0, 0, 0, 0.2);
}

#footer-font {
  font-family: "Nunito Sans", sans-serif;
}

#nav-color {
  background: #ffffffe7;
}

@media (max-width: 767px) {
  h1 {
    font-size: 22px;
  }
  p,
  #created-by {
    font-size: 12px;
  }
  #read-more {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 25px;
  }
  p,
  #created-by,
  #read-more {
    font-size: 14px;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  h1 {
    font-size: 20px;
  }
  p,
  #created-by {
    font-size: 12px;
  }
  #read-more {
    font-size: 12px;
  }
}

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  h1 {
    font-size: 28px;
  }
  p,
  #created-by,
  #read-more {
    font-size: 14px;
  }
}
