/*Imported Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap"); /*Header Font*/
/*font-family: "Nunito Sans", sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap"); /*Title Font*/
/*font-family: 'Sora', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /*News text*/
/*font-family: 'Poppins', sans-serif;*/

body {
  padding-top: 30px;
}

.nav-item {
  padding-left: 50px;
  font-family: "Nunito Sans", sans-serif;
}

#title-font {
  font-family: "Sora", sans-serif;
  color: #3f3f3f;
}

#petronas {
  color: #03bfb5;
}

#news-text {
  font-family: "Poppins", sans-serif;
  color: #2a2a2a;
}
